@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// global color variables

$primary-color: #818c9f;
$secondary-color: #50cec3;
$button-color: #4e5662;
$button-hover-primary: #1e988d;
$stroke-color: #e7e7e7;
$tertiary-color: #2d3748;
$footer-text-color: #abb7c2;
$active-color: #27ae60;
$inactive-color: #e2b93b;
$body-bg-color: #f8f9fa;
$white: #ffffff;
$danger-color: #C22525;
$dark-black: #010100;
$light-gray: #F1F1F1;
$border-color: #E5E5E5;


.border-color {
  color: $border-color;
}

.primary-color {
  color: $primary-color;
}

.danger-color {
  color: $danger-color;
}

.secondary-color {
  color: $secondary-color;
}

.button-color {
  color: $button-color;
}

.button-hover-primary {
  color: $button-hover-primary;
}

.stroke-color {
  color: $stroke-color;
}

.tertiary-color {
  color: $tertiary-color;
}

.footer-text-color {
  color: $footer-text-color;
}

.active-color {
  color: $active-color;
}

.inactive-color {
  color: $inactive-color;
}

.body-bg-color {
  color: $body-bg-color;
}

.white-color {
  color: $white;
}

.bg-dark-black {
  background-color: $dark-black;
}

.bg-light-gray {
  background-color: $light-gray;
}

// global font size variables

$text-xs: 0.75rem;
/* 12px */
$text-sm: 0.875rem;
/* 14px */
$text-base: 1rem;
/* 16px */
$text-lg: 1.125rem;
/* 18px */
$text-xl: 1.25rem;
/* 20px */
$text-xl-mid: 1.375rem;
/* 22px */
$text-2xl: 1.5rem;
/* 24px */
$text-2xl-mid: 1.75rem;
/* 28px */
$text-3xl: 1.875rem;
/* 30px */
$text-4xl: 2.25rem;
/* 36px */
$text-5xl: 3rem;
/* 48px */
$text-6xl: 3.75rem;
/* 60px */
$text-7xl: 4.5rem;
/* 72px */
$text-8xl: 6rem;
/* 96px */
$text-9xl: 8rem;
/* 128px */

// global line height variables

$lheight-xs: 1rem;
/* 16px */
$lheight-sm: 1.25rem;
/* 20px */
$lheight-base: 1.5rem;
/* 24px */
$lheight-lg: 1.75rem;
/* 28px */
$lheight-xl: 1.75rem;
/* 28px */
$lheight-2xl: 2rem;
/* 32px */
$lheight-3xl: 2.25rem;
/* 36px */
$lheight-4xl: 2.5rem;
/* 40px */
$lheight-auto: 1;

// global font weight variables

$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

body {
  font-family: "Poppins", sans-serif !important;
  background: $body-bg-color;
}

// font size classes
.text-xs {
  font-size: $text-xs;
  /* 12px */
}

.text-sm {
  font-size: $text-sm;
  /* 14px */
}

.text-base {
  font-size: $text-base;
  /* 16px */
}

.text-lg {
  font-size: $text-lg;
  /* 18px */
}

.text-xl {
  font-size: $text-xl;
  /* 20px */
}

.text-2xl {
  font-size: $text-2xl;
  /* 24px */
}

.text-3xl {
  font-size: $text-3xl;
  /* 30px */
}

.text-4xl {
  font-size: $text-4xl;
  /* 36px */
}

.text-5xl {
  font-size: $text-5xl;
  /* 48px */
}

.text-6xl {
  font-size: $text-6xl;
  /* 60px */
}

.text-7xl {
  font-size: $text-7xl;
  /* 72px */
}

.text-8xl {
  font-size: $text-8xl;
  /* 96px */
}

.text-9xl {
  font-size: $text-9xl;
  /* 128px */
}

// line height classes

.lheight-xs {
  line-height: 1rem;
  /* 16px */
}

.lheight-sm {
  line-height: 1.25rem;
  /* 20px */
}

.lheight-base {
  line-height: 1.5rem;
  /* 24px */
}

.lheight-lg {
  line-height: 1.75rem;
  /* 28px */
}

.lheight-xl {
  line-height: 1.75rem;
  /* 28px */
}

.lheight-2xl {
  line-height: 2rem;
  /* 32px */
}

.lheight-3xl {
  line-height: 2.25rem;
  /* 36px */
}

.lheight-4xl {
  line-height: 2.5rem;
  /* 40px */
}

.lheight-auto {
  line-height: 1;
}

.br-10 {
  border-radius: 10px !important;
}

// font weight classes

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

// line claimp

@media (min-width:768px) {
  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

// common scss

.btn {
  font-size: $text-sm;
  font-weight: $font-medium;
  line-height: $lheight-sm;
  text-align: center;
  font-family: inherit;
  border-radius: 0;
  padding: 9px 18px;
  border-radius: 10px;
  outline: 0 !important;
  position: relative;
  // overflow: hidden;
  transition: background 1s;

  // &::before,
  // &::after {
  //   position: absolute;
  //   // content: "";
  //   width: 0%;
  //   height: 0%;
  //   opacity: 0;
  //   border-radius: 10px;
  // }

  // &:before {
  //   top: 0;
  //   right: 0;
  //   border-top: 1px solid $white;
  //   border-left: 1px solid $white;
  //   transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
  // }

  // &:after {
  //   bottom: 0;
  //   left: 0px;
  //   border-bottom: 1px solid $white;
  //   border-right: 1px solid $white;
  //   transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
  // }

  // &:hover {
  //   &::before,
  //   &::after {
  //     width: 100%;
  //     height: 100%;
  //     opacity: 1;
  //   }

  //   &::before {
  //     transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s;
  //   }

  //   &::after {
  //     transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s;
  //   }
  // }
  &::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 1s;
    opacity: 0.3;
    border-radius: 10px;
  }
  &:hover{
    &::before{
      width: 100%;
    }
  }
  

  &.btnPrimary {
    background-color: $secondary-color;
    border: solid 1px $secondary-color;
    color: $white;
    &::before{
      background-color: $button-hover-primary;
    }
    // &:hover {
    //   background-color: $button-hover-primary;
    //   border: solid 1px $button-hover-primary;
    // }
    &:active{
    //   background-color: $button-hover-primary;
      border: solid 1px $button-hover-primary;
    //   color: $white;
    }
  }

  &.btnSecondary {
    background-color: $button-color;
    border: solid 1px $button-color;
    color: $white;
    &::before{
      background-color: $tertiary-color;
    }
    // &:hover {
    //   background-color: $tertiary-color;
    //   border: solid 1px $tertiary-color;
    // }
    &:active{
    //   background-color: $tertiary-color;
      border: solid 1px $tertiary-color;
    //   color: $white;
    }
  }

  &.btnSmall {
    padding: 3px 6px;

    @media (max-width: 768px) {
      min-width: 33px;
    }
  }
  &.btnAction{
    height: 28px;
    width: 28px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &::before{
      border-radius: 5px;
    }
    img{
      width: 18px;
    }
  }
  &.btnDanger{
    width: 21px;
    height: 20px;
    background: $danger-color;
    padding: 0 7px;
    border-radius: 5px;
    img{
      width: 14px;
    }
    &:active{
      background: $danger-color;
      border: none;
    }
  }

  &:disabled {
    opacity: 0.2;
  }

  &:focus {
    box-shadow: none;
  }

  // &.no-hover {
  //   &:hover {
  //     &::before, &::after {
  //       content: unset;
  //     }
  //   }
  // }

}

.badge {
  font-size: $text-sm;
  font-weight: normal;
  padding: 6px 10px;

  &.badge-success {
    border: 1px solid $active-color;
    color: $active-color;
  }

  &.badge-warning {
    border: 1px solid $inactive-color;
    color: $inactive-color;
  }

}

// top header scss start
.navbar-toggler {
  outline: 0;
  box-shadow: none !important;
}

.navbar-collapse {
  @media (max-width: 1199px) {
    position: absolute;
    top: 57px;
    background: white;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 10px;

    .navbar-nav {
      padding: 0 15px;
    }
  }
}

.top-header {
  padding: 0;
  border-bottom: solid 1px $stroke-color;
  position: sticky;
  top: 0px;
  background: $body-bg-color;
  z-index: 11;

  .navbar {
    .navbar-nav {
      align-items: center;

      @media (max-width: 1200px) {
        align-items: start;
        padding: 10px;

      }

      .nav-item {
        padding-left: 11px;
        padding-right: 11px;

        .nav-link {
          font-size: $text-sm;
          font-weight: $font-medium;
          color: $tertiary-color;
          position: relative;
          padding: 0px;
          &.no-border {
            &::before{
              content: unset;
            }
          }
          @media (max-width: 1200px) {
            padding: 5px;

            &.dropdown-toggle {
              min-width: 180px;
            }
          }

          @media (max-width: 575px) {
            min-width: 100px;
          }

          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            background-color: $tertiary-color;
            margin: auto;
            inset: auto 0 -7px 0;
            transition: all 0.3s;

            @media (max-width: 1200px) {
              inset: auto 0 4px 0;
              content: unset;
            }
          }

          &:hover {
            &::before {
              width: 100%;
            }
          }
        }
        @media (max-width: 767px) {
         width: 100%;   
        }
      }
    }
  }
}

.dropdown {
  position: relative;

  .dropdown-menu[data-bs-popper] {
    right: 0;
    left: auto;
  }

  a {
    &.dropdown-toggle {
      position: relative;

      &::after {
        border: 0;
        background-image: url("../Images/icons/arrow-down.svg");
        width: 10px;
        height: 10px;
        background-size: 10px;
        background-position: right;
        background-repeat: no-repeat;
        position: relative;
        top: 4px;
        left: -1px;
      }
    }
  }

  .dropdown-menu {
    border: 1px solid $stroke-color;

    .dropdown-item {
      font-size: $text-sm;
      font-weight: $font-medium;
      color: $tertiary-color;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: $text-sm;
      width: 10px;
      height: 10px;
      background-color: white;
      transform: translateY(-50%) rotate(45deg);
      z-index: 99;
      border-top: 1px solid $stroke-color;
      border-left: 1px solid $stroke-color;
    }
  }
}

.w-220 {
  width: 220px !important;
  min-width: 220px;

  @media (max-width:767px) {
    width: 270px !important;
    min-width: 270px;
  }
}
.min-max-width-195 {
  min-width: 195px;
  max-width: 195px;
  width: 195px;

}

.min-width-150 {
  min-width: 150px;
}

.min-width-170 {
  min-width: 170px;
}

.gap-12 {
  gap: 12px;
}

aside {
  // @media (min-width:768px) {
  //   max-height: calc(100vh - 100px);
  // }

  overflow: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 0;
  }

  ul {
    &.nav-pills {
      li {
        &.nav-item {
          // padding: 0 10px;
          // padding-bottom: 10px;

          a {
            &.nav-link {
              display: flex;
              align-items: center;
              font-size: $text-sm;
              font-weight: $font-medium;
              color: $primary-color;
              line-height: initial;
              padding: 12px;
              gap: 12px;
              margin: 6px 12px;

              span {
                &.user-icons {
                  background-color: white;
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  box-shadow: 0px 3.5px 5.5px 0px #00000005;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }

              &.actives {
                background-color: white;
                color: $tertiary-color;
              }
            }
          }

          &:hover {
            a.nav-link {
              background-color: white;
              color: $tertiary-color;
            }
          }
        }
      }
    }
  }
}

// top header scss end
// right section start code css

.search-input {
  max-width: 302px;

  @media (max-width:767px) {
    max-width: 100%;
  }

  .form-control {
    box-shadow: none !important;
    border-radius: 10px !important;
    height: 40px;
    border: 1px solid $stroke-color !important;
    padding-left: 1rem;
    font-size: $text-base;
    font-weight: 400;
    color: $tertiary-color;
    padding-right: 40px;

    &::placeholder {
      color: $footer-text-color;
      font-weight: 400;
    }
  }

  .input-group-append {
    z-index: 10;

    .search-button {
      background: transparent;
      outline: 0;
      position: absolute;
      top: 7px;
      right: $text-sm;

      img {
        width: 16px;
      }
    }
  }
}

.form-control {
  box-shadow: none !important;
  border-radius: 10px !important;
  height: 50px;
  border: 1px solid $stroke-color !important;
  font-size: $text-sm ;
  font-weight: 400;
  color: $tertiary-color;

  &::placeholder {
    color: $footer-text-color;
    font-weight: 400;
  }

  &:focus-visible {
    outline: none;
  }

  &.input-sm {
    height: 30px;
    border-radius: 5px !important;
  }
}

textarea {
  &.form-control {
    min-height: 86px;
  }
}

.form-select {
  box-shadow: none !important;
  border-radius: 10px !important;
  height: 50px;
  border: 1px solid $stroke-color !important;
  padding-left: 1rem;
  font-size: $text-base;
  font-weight: 400;
  color: $tertiary-color;

  &.select-sm {
    height: 40px;
  }
}

.table-layout-one {
  .table-responsive {
    overflow: auto;
    min-height: 40px;

  }


  table {
    margin-bottom: 0;

    // border-top: 1px solid $stroke-color;
    thead {
      tr {
        // border-left: 1px solid $white;
        // border-right: 1px solid $white;
        // border-top: 1px solid #e5e5e5;

        th {
          font-size: $text-sm;
          font-weight: $font-medium;
          color: $tertiary-color;
          background-color: #FAF9F9;

          padding: 8.5px 12px;
          height: 40px;
          text-wrap: nowrap;
          // min-width: 150px;
          vertical-align: middle;
          // overflow: hidden;
          position: sticky;
          top: 0;
          z-index: 1;
          // text-align: center;
          white-space: nowrap;

          button {
            padding: 0 0
          }

          &.sticky-col {
            position: -webkit-sticky;
            position: sticky;
            z-index: 9;
            @media (max-width: 767px) {
              position: static;
            }
          }

          &.first-col {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
            left: 0px;
            @media (max-width: 767px) {
              position: relative;
            }
          }
        }
      }
    }

    tbody {

      tr {
        // border-left: 1px solid $white;
        // border-right: 1px solid $white;

        &:last-child {
          td {
            border-bottom: 0px;
            overflow: hidden;
          }
        }

        td {
          font-size: $text-sm;
          font-weight: $font-medium;
          color: $tertiary-color;
          padding: 5px 12px;
          min-height: 40px;
          vertical-align: middle;
          text-wrap: nowrap;

          // text-align: center;
          &.sticky-col {
            position: -webkit-sticky;
            position: sticky;
            z-index: 8;
            @media (max-width: 767px) {
              position: static;
            }
          }

          &.first-col {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
            left: 0px;
            @media (max-width: 767px) {
              position: relative;
            }
          }
        }
      }
    }
  }
}


.checkbox-input {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    box-shadow: none !important;
    border-color: $stroke-color;
    cursor: pointer;

    &:checked {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

.pointer {
  cursor: pointer;
}

.right-section-wrapper {
  @media (min-width:768px) {
    max-height: calc(100vh - 106px);
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $body-bg-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $secondary-color;
    }
  }
}

.table-layout-one {
  border: 1px solid $border-color;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  overflow: hidden;
  .table-responsive {
    @media (min-width:768px) {
      max-height: calc(100vh - 265px);
    }

    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      border-radius: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $body-bg-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $secondary-color;
    }
  }
}

ul {
  &.social-privacy {
    li {
      list-style: none;
      position: relative;

      a {
        font-size: $text-xs;
        font-weight: $font-medium;
        color: $footer-text-color;
        text-decoration: none;

        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 70%;
          top: 4px;
          left: auto;
          right: -9px;
          background-color: $footer-text-color;
        }
      }

      &:last-child {
        a {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

footer {
  background: $body-bg-color;
  margin-top: 20px;
  padding: 20px 24px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
  left: 0;
  right: 0;

  @media(max-width: 767px) {
    width: 100%;
    position: relative;
  }
}

// create-tab-ui start code css
.create-tab-ui {
  ul {
    &.nav {
      &.nav-pills {
        overflow: hidden;
        border: solid 1px $stroke-color;

        @media (max-width: 767px) {
          background: transparent !important;
          border: 0;
          border-radius: 0px !important;
        }

        li {
          flex: 1;

          button {
            min-height: 73px;
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 100%;
            padding-left: 45px;
            font-size: $text-sm;
            font-weight: $font-medium;
            color: $tertiary-color;
            background: white;
            gap: 1rem;
            border-right: solid 1px $stroke-color;
            border-radius: 0px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              right: -15px;
              border: solid 1px $stroke-color;
              border-bottom: 0;
              border-left: 0;
              background: white;
              width: 30px;
              height: 30px;
              border-radius: 2px;
              display: block;
              z-index: 99;
              transform: rotate(45deg);
            }

            @media (max-width: 767px) {
              &::after {
                display: none;
              }
            }

            &.active,
            &:hover {
              color: $tertiary-color;

              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                background: $secondary-color;
                width: 100%;
                height: 3px;
                border-radius: 10px;
                display: block;
                left: 0;
              }
            }

            span {
              &.circles-round {
                min-width: 40px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $secondary-color;
                border: solid 2px $secondary-color;
                color: white;

                &.fill-circle {
                  position: relative;
                  font-size: 0px;

                  &::after {
                    content: "";
                    background-image: url(../Images/icons/fill-circle.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 16px;
                    height: 16px;
                  }
                }
              }
            }
          }

          @media (max-width: 767px) {
            flex: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: transparent !important;

            button {
              padding-left: 30px;
              border: solid 1px $stroke-color;
            }
          }

          &:first-child {
            button {
              padding-left: 30px;
            }
          }

          &:last-child {
            button {
              border-right: 0;

              @media (max-width: 767px) {
                border-right: solid 1px $stroke-color;
              }
            }
          }
        }
      }
    }
  }

  &.tab2 {
    .tab2-inner {
      min-height: calc(100vh - 380px);
      max-height: calc(100vh - 380px);
      overflow: auto;
      border-radius: 0 0 10px 10px;
      .table-layout-one {
        .table-responsive {
          max-height: max-content;
        }
      }
    }
    ul {
      &.nav {
        &.nav-pills {
          border: none;
          border-bottom: 1px solid $secondary-color;

          @media (max-width: 767px) {
            background: transparent !important;
            border: 0;
            border-radius: 0px !important;
          }

          li {
            flex: 0 0 160px;
            margin-right: 5px;

            button {
              min-height: 57px;
              justify-content: center;
              padding-left: 0;
              border-radius: 12px 12px 0 0;
              border: none;

              &::after {
                content: unset;
              }

              &.active,
              &:hover {
                color: $white;
                background: $secondary-color;

                &::before {
                  content: unset;
                }
              }
            }

            @media (max-width: 767px) {
              flex: 100%;
              max-width: 100%;
              margin-bottom: 5px;
              background-color: transparent !important;
            }

            &:first-child {
              button {
                padding-left: 0;
              }
            }

            &:last-child {
              button {
                border-right: 0;

                @media (max-width: 767px) {
                  border-right: solid 1px $stroke-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

// create-tab-ui end code css
.td-inputs {
  .form-control {
    border: none;
    border-bottom: solid 1px $secondary-color;
    box-shadow: none !important;
    border-radius: 0px;
    background: rgb(80 206 195 / 10%);
  }

  p {
    text-align: left;
  }
}


// view package start

.packages-deails {
  .package-detail {
    width: calc(33.33% - 16px);

    @media (max-width:768px) {
      width: 100%;
    }
  }
}

// view package end

.accordion {
  .accordion-item {
    margin-bottom: 16px;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    background: transparent;

    &:last-child {
      margin-bottom: 0;
    }

    &:focus-visible {
      outline: none;
    }

    .accordion-header {
      border-radius: 10px;
      overflow: hidden;

      &:focus-visible {
        outline: none;
      }

      .accordion-button {
        font-size: $text-sm;
        font-weight: $font-medium;
        color: $tertiary-color;
        background: $white;
        box-shadow: none;
        line-height: 20px;
        padding: 10px 16px !important;
        padding-right: 50px !important;

        &::after {
          position: absolute;
          right: 16px;
          background-image: url(../Images/icons/accordionArrow.svg);
          width: 21px;
          height: 22px;
        }
      }
    }

    .accordion-collapse {
      .accordion-body {
        padding: 12px 0 0;

        .sub-accordion {
          .accordion-item {
            .accordion-header {
              .accordion-button {
                padding: 10px 24px !important;
                padding-right: 60px !important;

                &::after {
                  right: 24px;
                }
              }
            }

            .accordion-collapse {
              .accordion-body {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}


/*************Login start here**************/
.mt-80 {
  margin-top: 80px;

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.pt-80 {
  padding-top: 80px;

  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

.pb-40 {
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-bottom: 10px;
  }
}

.mb-60 {
  margin-bottom: 60px
}

.mb-20 {
  margin-bottom: 20px
}

.m-20 {
  margin: 20px
}

.mt-20 {
  margin-top: 20px
}

.top-0 {
  top: 0;
}

.wh-62 {
  min-width: 62px;
  min-height: 62px;
  width: 62px;
  height: 62px;
}

.wh-40 {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
}

.wh-30 {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
}

.border-rad50 {
  border-radius: 50px;
}

.h-min-210 {
  height: 210px;
  min-height: 210px;
}

.w-min-180 {
  width: 180px;
  min-width: 180px;
}

/*********Login page starts here***********/
.login-form {
  form {
    .forgot-pass {
      right: 5px;
      bottom: -22px;

      &:hover {
        color: $white;
      }
    }
  }
}

.banner-bg {
  background-image: url('../Images/bg-login.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  min-height: 100vh;
  background-attachment: fixed;

  &.home {
    background-image: url('../Images/home.svg');
  }

  /*****************Appointment section starts here**********************/
  &.appointment-main {
    background-image: url('../Images/oppointment.png');
    min-height: auto;
    padding: 80px 0;

    .right-inner-images {
      .right-images {
        img {
          border-radius: 50px;
        }
      }
    }
  }
}

/*****************Feature section starts here**********************/
.feature-main {
  .feature-inner {
    background-image: url(../Images/feature.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-position: left;

    @media (max-width: 767px) {
      background-image: none;
    }

    .feature-box {
      padding: 74px 0;

      @media (max-width: 767px) {
        padding: 0;
      }

      .round-icon {
        background-color: $white;
        border-radius: 50%;

        +div {
          word-wrap: break-word;
          word-break: break-word;
        }
      }
    }
  }
}

/*********Mobile section starts here***********/
.mobile-main {
  .customer-mobile {
    ul>li {
      padding: 0 0 24px 33px;
      position: relative;

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        background-image: url('../Images/icons/star.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
      }
    }
  }
}

/*********Slider 2 section starts here***********/
.slider2-main {
  padding: 80px 0;

  .slider-imgs-text {
    .slider-imgs-text-inner {
      padding-left: 16%;
      overflow: hidden;
      padding-right: 0;

      @media (min-width: 1400px) {
        padding-left: calc(100vw - 75%);
      }

      @media (max-width: 991px) {
        padding-left: 84px;
      }
    }
  }
}

/*********Salon section starts here***********/
.salon-main {
  .salon-inner {
    margin-top: 100px;
    min-height: 325px;

    .salon-inner-img {
      top: -120px;

      @media (max-width: 767px) {
        top: -70px;
      }

      .leaf {
        bottom: -40px;
        right: -30px;
      }
    }

    .salon-inner-data {
      margin-top: -85px;
      padding-bottom: 20px;

      @media (max-width: 767px) {
        margin-top: -40px;


      }
    }
  }
}

// *********Free For Everyone section starts here***********
.free-main {
  margin-top: 150px;

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  .free-img {
    margin-top: -95px;

    @media (max-width: 767px) {
      margin-top: 0;
    }
  }
}

// *********Slider 3 section starts here***********

// *********Contact us section starts here***********
.contact-main {
  .search-input {
    max-width: 100%;
  }

  .contact-right {
    border-left: 1px solid #CFCDCD;

    @media (max-width: 767px) {
      border: 0;
    }
  }
}

// *********Sidebar show hover starts here***********
.icon {
  font-size: 30px;
  cursor: pointer;
}

.sidebar {
  transition: 0.3s ease-in-out;
  box-shadow: 0px 7px 25px 0px #00000012;
  top: 90px !important;
  background-color: $body-bg-color;

  @media (max-width:1199px) {
    top: 56px !important;
  }
}

/**********Select with search input in table th*********/
table {
  thead {
    tr {
      th {
        &:first-child {
          border-top-left-radius: 10px;
        }
        &:last-child {
          border-top-right-radius: 10px;
        }
        &.select-input-th {
          min-width: 200px;
          max-width: 200px;
          width: 200px;
        }

        &.select-dropdown-th {
          min-width: 150px;
          max-width: 150px;
          width: 150px;

          .custom-dropdown {
            a {
              &::after {
                position: absolute;
                left: unset;
                right: 0;
                background-image: url(../Images/icons/arrow-down.svg);
              }
            }
          }
        }

        .select-input {
          background-color: transparent;
          border: 0 !important;

          .btn {
            background-color: transparent;
            border-color: transparent;
            padding-left: 0;
            // &.dropdown-toggle {
            //   background-image: url(../Images/icons/arrow-down.svg);
            //   background-size: inherit;
            //   background-repeat: no-repeat;
            //   width: 100%;
            //   background-position: right;    background-color: transparent;
            //   border-color: transparent;
            // }
          }

          .btn:hover::before,
          .btn:hover::after {
            opacity: 0;
            border: none;
          }

          .dropdown-menu.show {
            min-width: 228px;
            max-width: 228px;
            margin-top: 7px !important;
            padding: 0;
          }
        }

        .bootstrap-select {

          .dropdown-toggle:focus,
          select.mobile-device:focus+.dropdown-toggle {
            outline: unset !important;
            background-color: transparent;
            border-color: transparent;
          }

          .dropdown-menu {
            li {
              border-bottom: 1px solid $stroke-color;
              padding: 2px;

              .dropdown-item.active,
              .dropdown-item:active {
                background-color: transparent;
              }
            }

            .bs-searchbox {
              padding: 0;

              .form-control {
                box-shadow: none !important;
                height: 33px !important;
                border: none !important;
                border-bottom: 1px solid $stroke-color !important;
                border-radius: 0px !important;
              }
            }
          }
        }
      }
    }
  }
}

/**********Common scrollbar**************/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $body-bg-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-color;
}

.dropdown {
  .dropdown-menu {
    &::before {
      content: unset;
    }
  }
}

/**********Dropdown arrow from background image*************/
.dropdown-toggle {
  background-image: url(../Images/icons/arrow-down.svg);
  background-size: inherit;
  background-repeat: no-repeat;
  width: 100%;
  background-position: right;
  background-color: transparent;
  border-color: transparent;

  &::after {
    content: unset;
  }
}

.dropdown-item {

  &:hover,
  &:active,
  &.active,
  &:focus,
  &:focus-visible {
    background-color: $body-bg-color;
  }
}

.custom-dropdown {
  .dropdown-menu.show {
    margin-top: 16px !important;
    padding: 0;
  }
}

/***************Button hover animation**************/
button.navbar-toggler {
  border: solid 1px $stroke-color;
}
/*********Box shadow for btn********/
.btn-check:checked+.btn:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible, .btn:first-child:active:focus-visible, :not(.btn-check)+.btn:active:focus-visible {
  box-shadow: unset;
}

.mobile-btns {
  @media (max-width: 575px) {

    .btnPrimary,
    .btnSecondary {
      width: 100%;
      display: block;
    }

  }
}