@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.border-color {
  color: #e5e5e5;
}

.primary-color {
  color: #818c9f;
}

.danger-color {
  color: #c22525;
}

.secondary-color {
  color: #50cec3;
}

.button-color {
  color: #4e5662;
}

.button-hover-primary {
  color: #1e988d;
}

.stroke-color {
  color: #e7e7e7;
}

.bg-tertiary-color {
  background-color: #2d3748;
}

.tertiary-color {
  color: #2d3748;
}

.footer-text-color {
  color: #abb7c2;
}

.active-color {
  color: #27ae60;
}

.inactive-color {
  color: #e2b93b;
}

.body-bg-color {
  color: #f8f9fa;
}

.white-color {
  color: #ffffff;
}

.bg-dark-black {
  background-color: #010100;
}

.bg-light-gray {
  background-color: #f1f1f1;
}

/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 22px */
/* 24px */
/* 28px */
/* 30px */
/* 36px */
/* 48px */
/* 60px */
/* 72px */
/* 96px */
/* 128px */
/* 16px */
/* 20px */
/* 24px */
/* 28px */
/* 28px */
/* 32px */
/* 36px */
/* 40px */
body {
  font-family: "Poppins", sans-serif !important;
  background: #f8f9fa;
}

.text-xs {
  font-size: 0.75rem;
  /* 12px */
}

.text-sm {
  font-size: 0.875rem;
  /* 14px */
}

.text-base {
  font-size: 1rem;
  /* 16px */
}

.text-lg {
  font-size: 1.125rem;
  /* 18px */
}

.text-xl {
  font-size: 1.25rem;
  /* 20px */
}

.text-xl-mid {
  font-size: 1.375rem;
  /* 22px */
}

.text-2xl {
  font-size: 1.5rem;
  /* 24px */
}

.text-2xl-mid {
  font-size: 1.75rem;
  /* 28px */
}

.text-3xl {
  font-size: 1.875rem;
  /* 30px */
}

.text-4xl {
  font-size: 2.25rem;
  /* 36px */
}

.text-5xl {
  font-size: 3rem;
  /* 48px */
}

.text-6xl {
  font-size: 3.75rem;
  /* 60px */
}

.text-7xl {
  font-size: 4.5rem;
  /* 72px */
}

.text-8xl {
  font-size: 6rem;
  /* 96px */
}

.text-9xl {
  font-size: 8rem;
  /* 128px */
}

.lheight-xs {
  line-height: 1rem;
  /* 16px */
}

.lheight-sm {
  line-height: 1.25rem;
  /* 20px */
}

.lheight-base {
  line-height: 1.5rem;
  /* 24px */
}

.lheight-lg {
  line-height: 1.75rem;
  /* 28px */
}

.lheight-xl {
  line-height: 1.75rem;
  /* 28px */
}

.lheight-2xl {
  line-height: 2rem;
  /* 32px */
}

.lheight-3xl {
  line-height: 2.25rem;
  /* 36px */
}

.lheight-4xl {
  line-height: 2.5rem;
  /* 40px */
}

.lheight-auto {
  line-height: 1;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

@media (min-width: 768px) {
  .line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.btn {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
  font-family: inherit;
  border-radius: 0;
  padding: 9px 18px;
  border-radius: 10px;
  outline: 0 !important;
  position: relative;
  transition: background 1s;
}
.btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 1s;
  opacity: 0.3;
  border-radius: 10px;
}
.btn::before span {
  position: relative;
  z-index: 9;
}
.btn:hover::before {
  width: 100%;
}
.btn:hover::before span {
  position: relative;
  z-index: 9;
}
.btn.btnPrimary {
  background-color: #50cec3;
  border: solid 1px #50cec3;
  color: #ffffff;
}
.btn.btnPrimary:active {
  border-color: #1e988d !important;
  background: #1e988d !important;
}
.btn.btnPrimary::before {
  border-color: #1e988d !important;
  background-color: #1e988d;
}
.btn.btnSecondary {
  background-color: #4e5662;
  border: solid 1px #4e5662;
  color: #ffffff;
}
.btn.btnSecondary::before, .btn.btnSecondary:active {
  background-color: #2d3748;
}
.btn.btnSmall {
  padding: 3px 6px;
}
@media (max-width: 768px) {
  .btn.btnSmall {
    min-width: 33px;
  }
}
.btn.btnAction {
  height: 28px;
  width: 28px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.btn.btnAction::before {
  border-radius: 5px;
}
.btn.btnAction img {
  width: 18px;
}
.btn.btnDanger {
  width: 21px;
  height: 20px;
  background: #c22525;
  padding: 0 7px;
  border-radius: 5px;
}
.btn.btnDanger img {
  width: 14px;
}
.btn.btnDanger:active {
  background: #c22525;
  border: none;
}
.btn:disabled {
  opacity: 0.2;
}
.btn:focus {
  box-shadow: none;
}

.badge {
  font-size: 0.875rem;
  font-weight: normal;
  padding: 6px 10px;
}
.badge.badge-success {
  border: 1px solid #27ae60;
  color: #27ae60;
}
.badge.badge-warning {
  border: 1px solid #e2b93b;
  color: #e2b93b;
}

.navbar-toggler {
  outline: 0;
  box-shadow: none !important;
}

@media (max-width: 1199px) {
  .navbar-collapse {
    position: relative;
    top: 60px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 10px;
  }
  .navbar-collapse .navbar-nav {
    padding: 0 15px;
  }
}

.top-header {
  padding: 0;
  border-bottom: solid 1px #e7e7e7;
  position: sticky;
  top: 0px;
  background: #f8f9fa;
  z-index: 11;
}
.top-header .navbar .navbar-nav {
  align-items: center;
}
@media (max-width: 1200px) {
  .top-header .navbar .navbar-nav {
    align-items: start;
    padding: 10px;
  }
}
.top-header .navbar .navbar-nav .nav-item {
  padding-left: 11px;
  padding-right: 11px;
}
.top-header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 0.875rem;
  font-weight: 500;
  color: #2d3748;
  position: relative;
  padding: 0px;
}
.top-header .navbar .navbar-nav .nav-item .nav-link.no-border::before {
  content: unset;
}
@media (max-width: 1200px) {
  .top-header .navbar .navbar-nav .nav-item .nav-link {
    padding: 5px;
  }
  .top-header .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle {
    min-width: 180px;
  }
}
@media (max-width: 575px) {
  .top-header .navbar .navbar-nav .nav-item .nav-link {
    min-width: 100px;
  }
}
.top-header .navbar .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #2d3748;
  margin: auto;
  inset: auto 0 -7px 0;
  transition: all 0.3s;
}
@media (max-width: 1200px) {
  .top-header .navbar .navbar-nav .nav-item .nav-link::before {
    inset: auto 0 4px 0;
    content: unset;
  }
}
.top-header .navbar .navbar-nav .nav-item .nav-link:hover::before {
  width: 100%;
}
@media (max-width: 767px) {
  .top-header .navbar .navbar-nav .nav-item {
    width: 100%;
  }
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-menu[data-bs-popper] {
  right: 0;
  left: auto;
}
.dropdown a.dropdown-toggle {
  position: relative;
}
.dropdown a.dropdown-toggle::after {
  border: 0;
  background-image: url("../Images/icons/arrow-down.svg");
  width: 10px;
  height: 10px;
  background-size: 10px;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  top: 4px;
  left: -1px;
}
.dropdown .dropdown-menu {
  border: 1px solid #e7e7e7;
}
.dropdown .dropdown-menu .dropdown-item {
  font-size: 0.875rem;
  font-weight: 400;
  color: #2d3748;
}
.dropdown .dropdown-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0.875rem;
  width: 10px;
  height: 10px;
  background-color: white;
  transform: translateY(-50%) rotate(45deg);
  z-index: 99;
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

.w-220 {
  width: 220px !important;
  min-width: 220px;
}
@media (max-width: 767px) {
  .w-220 {
    width: 270px !important;
    min-width: 270px;
  }
}

.min-max-width-195 {
  min-width: 195px;
  max-width: 195px;
  width: 195px;
}

.min-width-150 {
  min-width: 150px;
}

.min-width-170 {
  min-width: 170px;
}

.gap-12 {
  gap: 12px;
}

.gap-10 {
  gap: 10px;
}

aside {
  overflow: auto;
  /* width */
}
aside::-webkit-scrollbar {
  width: 0;
}
aside ul.nav-pills li.nav-item a.nav-link {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #818c9f;
  line-height: initial;
  padding: 12px;
  gap: 12px;
  margin: 0 12px 2px 12px;
}
aside ul.nav-pills li.nav-item a.nav-link span.user-icons {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.0196078431);
  display: flex;
  align-items: center;
  justify-content: center;
}
aside ul.nav-pills li.nav-item a.nav-link.actives {
  background-color: white;
  color: #2d3748;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.0196078431);
}
aside ul.nav-pills li.nav-item a.nav-link.actives span {
  background-color: #50cec3;
}
aside ul.nav-pills li.nav-item a.nav-link.actives span img {
  filter: brightness(0) invert(1);
}
aside ul.nav-pills li.nav-item:hover a.nav-link {
  background-color: white;
  color: #2d3748;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.0196078431);
}
aside ul.nav-pills li.nav-item:hover a.nav-link span {
  background-color: #50cec3;
}
aside ul.nav-pills li.nav-item:hover a.nav-link span img {
  filter: brightness(0) invert(1);
}

.search-input {
  max-width: 302px;
}
@media (max-width: 767px) {
  .search-input {
    max-width: 100%;
  }
}
.search-input .form-control {
  box-shadow: none !important;
  border-radius: 10px !important;
  height: 40px;
  border: 1px solid #e7e7e7 !important;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #2d3748;
  padding-right: 40px;
}
.search-input .form-control::-moz-placeholder {
  color: #abb7c2;
  font-weight: 400;
}
.search-input .form-control::placeholder {
  color: #abb7c2;
  font-weight: 400;
}
.search-input .input-group-append {
  z-index: 10;
}
.search-input .input-group-append .search-button {
  background: transparent;
  outline: 0;
  position: absolute;
  top: 7px;
  right: 0.875rem;
}
.search-input .input-group-append .search-button img {
  width: 16px;
}

.form-control {
  box-shadow: none !important;
  border-radius: 10px !important;
  height: 50px;
  border: 1px solid #e7e7e7 !important;
  font-size: 0.875rem;
  font-weight: 400;
  color: #2d3748;
}
.form-control::-moz-placeholder {
  color: #abb7c2;
  font-weight: 400;
}
.form-control::placeholder {
  color: #abb7c2;
  font-weight: 400;
}
.form-control:focus-visible {
  outline: none;
}
.form-control.input-sm {
  height: 30px;
  border-radius: 5px !important;
}

textarea.form-control {
  min-height: 86px;
}

.form-select {
  box-shadow: none !important;
  border-radius: 10px !important;
  height: 50px;
  border: 1px solid #e7e7e7 !important;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #2d3748;
}
.form-select.select-sm {
  height: 40px;
}

.table-layout-one .table-responsive {
  overflow: auto;
  min-height: 40px;
}
.table-layout-one table {
  margin-bottom: 0;
}
.table-layout-one table thead tr th {
  font-size: 0.875rem;
  font-weight: 500;
  color: #2d3748;
  background-color: #faf9f9;
  padding: 8.5px 12px;
  height: 40px;
  text-wrap: nowrap;
  vertical-align: middle;
  position: sticky;
  top: 0;
  z-index: 1;
  white-space: nowrap;
}
.table-layout-one table thead tr th button {
  padding: 0 0;
}
.table-layout-one table tbody tr:last-child td {
  border-bottom: 0px;
  overflow: hidden;
}
.table-layout-one table tbody tr td {
  font-size: 0.875rem;
  font-weight: 500;
  color: #2d3748;
  padding: 5px 12px;
  line-height: 29px;
  vertical-align: middle;
  text-wrap: nowrap;
}

.checkbox-input {
  display: flex;
  align-items: center;
}
.checkbox-input input[type=checkbox] {
  width: 20px;
  height: 20px;
  box-shadow: none !important;
  border-color: #e7e7e7;
  cursor: pointer;
}
.checkbox-input input[type=checkbox]:checked {
  background-color: #50cec3;
  border-color: #50cec3;
}

.pointer {
  cursor: pointer;
}

@media (min-width: 768px) {
  .right-section-wrapper {
    max-height: calc(100vh - 106px);
    overflow: auto;
    /* width */
    /* Track */
    /* Handle */
  }
  .right-section-wrapper::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
  }
  .right-section-wrapper::-webkit-scrollbar-track {
    background: #f8f9fa;
  }
  .right-section-wrapper::-webkit-scrollbar-thumb {
    background: #50cec3;
  }
}

.table-layout-one {
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  overflow: hidden;
}
.table-layout-one.no-radius {
  border-radius: 0;
}
.table-layout-one.no-radius table thead tr th:first-child,
.table-layout-one.no-radius table thead tr th:last-child {
  border-radius: 0;
}
.table-layout-one .table-responsive {
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
}
@media (min-width: 768px) {
  .table-layout-one .table-responsive {
    max-height: calc(100vh - 265px);
  }
}
.table-layout-one .table-responsive::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2px;
}
.table-layout-one .table-responsive::-webkit-scrollbar-track {
  background: #f8f9fa;
}
.table-layout-one .table-responsive::-webkit-scrollbar-thumb {
  background: #50cec3;
}

ul.social-privacy li {
  list-style: none;
  position: relative;
}
ul.social-privacy li a {
  font-size: 0.75rem;
  font-weight: 500;
  color: #abb7c2;
  text-decoration: none;
}
ul.social-privacy li a:hover {
  color: #2d3748;
}
ul.social-privacy li a:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 70%;
  top: 4px;
  left: auto;
  right: -9px;
  background-color: #abb7c2;
}
ul.social-privacy li:last-child a::after {
  display: none;
}

footer {
  background: #f8f9fa;
  margin-top: 20px;
  padding: 20px 24px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
  left: 0;
  right: 0;
}
@media (max-width: 767px) {
  footer {
    width: 100%;
    position: relative;
  }
}

.create-tab-ui ul.nav.nav-pills {
  overflow: hidden;
  border: solid 1px #e7e7e7;
}
@media (max-width: 767px) {
  .create-tab-ui ul.nav.nav-pills {
    background: transparent !important;
    border: 0;
    border-radius: 0px !important;
  }
}
.create-tab-ui ul.nav.nav-pills li {
  flex: 1;
}
.create-tab-ui ul.nav.nav-pills li button {
  min-height: 73px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding-left: 45px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #2d3748;
  background: white;
  gap: 1rem;
  border-right: solid 1px #e7e7e7;
  border-radius: 0px;
  position: relative;
}
.create-tab-ui ul.nav.nav-pills li button::after {
  content: "";
  position: absolute;
  right: -15px;
  border: solid 1px #e7e7e7;
  border-bottom: 0;
  border-left: 0;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  display: block;
  z-index: 99;
  transform: rotate(45deg);
}
@media (max-width: 767px) {
  .create-tab-ui ul.nav.nav-pills li button::after {
    display: none;
  }
}
.create-tab-ui ul.nav.nav-pills li button.active, .create-tab-ui ul.nav.nav-pills li button:hover {
  color: #2d3748;
}
.create-tab-ui ul.nav.nav-pills li button.active::before, .create-tab-ui ul.nav.nav-pills li button:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: #50cec3;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  display: block;
  left: 0;
}
.create-tab-ui ul.nav.nav-pills li button span.circles-round {
  min-width: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50cec3;
  border: solid 2px #50cec3;
  color: white;
}
.create-tab-ui ul.nav.nav-pills li button span.circles-round.fill-circle {
  position: relative;
  font-size: 0px;
}
.create-tab-ui ul.nav.nav-pills li button span.circles-round.fill-circle::after {
  content: "";
  background-image: url(../Images/icons/fill-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
}
@media (max-width: 767px) {
  .create-tab-ui ul.nav.nav-pills li {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    background-color: transparent !important;
  }
  .create-tab-ui ul.nav.nav-pills li button {
    padding-left: 30px;
    border: solid 1px #e7e7e7;
  }
}
.create-tab-ui ul.nav.nav-pills li:first-child button {
  padding-left: 30px;
}
.create-tab-ui ul.nav.nav-pills li:last-child button {
  border-right: 0;
}
@media (max-width: 767px) {
  .create-tab-ui ul.nav.nav-pills li:last-child button {
    border-right: solid 1px #e7e7e7;
  }
}
.create-tab-ui .tab-content .scroll {
  min-height: calc(100vh - 430px);
  max-height: calc(100vh - 430px);
  overflow: auto;
}
.create-tab-ui .tab-content .table.table-input-text td .td-inputs input.form-control {
  border-radius: 4px 4px 0 0 !important;
  height: 27px;
  border: none !important;
  border-bottom: 1px solid #e7e7e7 !important;
}
.create-tab-ui.tab2 .tab2-inner {
  min-height: calc(100vh - 387px);
  max-height: calc(100vh - 387px);
  overflow: auto;
  border-radius: 0 0 10px 10px;
}
.create-tab-ui.tab2 .tab2-inner .table-layout-one {
  border-radius: 0 0 10px 10px;
}
.create-tab-ui.tab2 .tab2-inner .table-layout-one .table-responsive {
  max-height: -moz-max-content;
  max-height: max-content;
}
.create-tab-ui.tab2 .tab2-inner .table-layout-one .table-responsive table tr th:first-child {
  border-top-left-radius: 0;
}
.create-tab-ui.tab2 .tab2-inner .table-layout-one .table-responsive table tr th:last-child {
  border-top-right-radius: 0;
}
.create-tab-ui.tab2 ul.nav.nav-pills {
  border: none;
  border-bottom: 1px solid #50cec3;
}
@media (max-width: 767px) {
  .create-tab-ui.tab2 ul.nav.nav-pills {
    background: transparent !important;
    border: 0;
    border-radius: 0px !important;
  }
}
.create-tab-ui.tab2 ul.nav.nav-pills li {
  flex: 0 0 160px;
  margin-right: 5px;
}
.create-tab-ui.tab2 ul.nav.nav-pills li button {
  min-height: 57px;
  justify-content: center;
  padding-left: 0;
  border-radius: 12px 12px 0 0;
  border: none;
}
.create-tab-ui.tab2 ul.nav.nav-pills li button::after {
  content: unset;
}
.create-tab-ui.tab2 ul.nav.nav-pills li button.active, .create-tab-ui.tab2 ul.nav.nav-pills li button:hover {
  color: #ffffff;
  background: #50cec3;
}
.create-tab-ui.tab2 ul.nav.nav-pills li button.active::before, .create-tab-ui.tab2 ul.nav.nav-pills li button:hover::before {
  content: unset;
}
@media (max-width: 767px) {
  .create-tab-ui.tab2 ul.nav.nav-pills li {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    background-color: transparent !important;
  }
}
.create-tab-ui.tab2 ul.nav.nav-pills li:first-child button {
  padding-left: 0;
}
.create-tab-ui.tab2 ul.nav.nav-pills li:last-child button {
  border-right: 0;
}
@media (max-width: 767px) {
  .create-tab-ui.tab2 ul.nav.nav-pills li:last-child button {
    border-right: solid 1px #e7e7e7;
  }
}

.td-inputs .form-control {
  border: none;
  border-bottom: solid 1px #50cec3;
  box-shadow: none !important;
  border-radius: 0px;
  background: rgba(80, 206, 195, 0.1);
}
.td-inputs p {
  text-align: left;
}

.accordion .accordion-item {
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  background: transparent;
}
.accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.accordion .accordion-item:focus-visible {
  outline: none;
}
.accordion .accordion-item .accordion-header {
  border-radius: 10px;
  overflow: hidden;
}
.accordion .accordion-item .accordion-header:focus-visible {
  outline: none;
}
.accordion .accordion-item .accordion-header .accordion-button {
  font-size: 0.875rem;
  font-weight: 500;
  color: #2d3748;
  background: #ffffff;
  box-shadow: none;
  line-height: 20px;
  padding: 12px 16px !important;
  padding-right: 50px !important;
}
.accordion .accordion-item .accordion-header .accordion-button::after {
  position: absolute;
  right: 16px;
  background-image: url(../Images/icons/accordionArrow.svg);
  width: 21px;
  height: 22px;
}
.accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 12px 0 0;
}
.accordion .accordion-item .accordion-collapse .accordion-body .sub-accordion.accordion {
  padding: 0 16px;
}
.accordion .accordion-item .accordion-collapse .accordion-body .sub-accordion.accordion .accordion-header {
  border-radius: 10px 10px 0 0;
}
.accordion .accordion-item .accordion-collapse .accordion-body .sub-accordion .accordion-item .accordion-header .accordion-button {
  padding: 10px 16px !important;
  padding-right: 60px !important;
  border-radius: 0px;
}
.accordion .accordion-item .accordion-collapse .accordion-body .sub-accordion .accordion-item .accordion-header .accordion-button::after {
  right: 24px;
}
.accordion .accordion-item .accordion-collapse .accordion-body .sub-accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 0;
}

/*************Login start here**************/
.mt-80 {
  margin-top: 80px;
}
@media (max-width: 767px) {
  .mt-80 {
    margin-top: 20px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media (max-width: 1200px) {
  .pt-80 {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .pt-80 {
    padding-top: 20px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .pb-80 {
    padding-bottom: 20px;
  }
}

.pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .pb-40 {
    padding-bottom: 10px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.top-0 {
  top: 0;
}

.wh-62 {
  min-width: 62px;
  min-height: 62px;
  width: 62px;
  height: 62px;
}

.wh-60 {
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;
}

.wh-40 {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
}

.wh-30 {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
}

.border-rad50 {
  border-radius: 50px;
}

.h-min-210 {
  height: 210px;
  min-height: 210px;
}

.w-min-180 {
  width: 180px;
  min-width: 180px;
}

/*********Login page starts here***********/
.login-form form .forgot-pass {
  right: 5px;
  bottom: -22px;
}
.login-form form .forgot-pass:hover {
  color: #ffffff;
}

.banner-bg {
  background-image: url("../Images/bg-login.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  min-height: 100vh;
  background-attachment: fixed;
  /*****************Appointment section starts here**********************/
}
.banner-bg.home {
  background-image: url("../Images/home.svg");
}
@media (max-width: 767px) {
  .banner-bg.home .home-login-wrap {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 16px;
    height: 91vh;
  }
}
.banner-bg.home .header-wrap {
  z-index: 9;
}
@media (max-width: 992px) {
  .banner-bg.home .header-wrap {
    position: fixed;
    width: 100%;
  }
}
.banner-bg.appointment-main {
  background-image: url("../Images/oppointment.png");
  min-height: auto;
  padding: 80px 0;
}
.banner-bg.appointment-main .right-inner-images .right-images img {
  border-radius: 50px;
}

/*****************Feature section starts here**********************/
.feature-main .feature-inner .feature-box {
  padding: 74px 0;
}
@media (max-width: 767px) {
  .feature-main .feature-inner .feature-box {
    padding: 0;
  }
}
.feature-main .feature-inner .feature-box .round-icon {
  background-color: #ffffff;
  border-radius: 50%;
}
.feature-main .feature-inner .feature-box .round-icon + div {
  word-wrap: break-word;
  word-break: break-word;
}

/*********Mobile section starts here***********/
.mobile-main .customer-mobile ul > li {
  padding: 0 0 24px 33px;
  position: relative;
}
.mobile-main .customer-mobile ul > li:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url("../Images/icons/star.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}

/*********Slider 2 section starts here***********/
.slider2-main {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .slider2-main .owl-stage {
    padding: 0 !important;
  }
}
@media (min-width: 1200px) {
  .slider2-main .owl-carousel {
    padding-left: 30% !important;
  }
}
.slider2-main .slider-imgs-text .slider-imgs-text-inner {
  padding-left: 16%;
  overflow: hidden;
  padding-right: 0;
}
@media (min-width: 1400px) {
  .slider2-main .slider-imgs-text .slider-imgs-text-inner {
    padding-left: calc(100vw - 85%);
  }
}
@media (max-width: 1366px) {
  .slider2-main .slider-imgs-text .slider-imgs-text-inner {
    padding-left: 12%;
  }
}
@media (max-width: 991px) {
  .slider2-main .slider-imgs-text .slider-imgs-text-inner {
    padding-left: 84px;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .slider2-main .slider-imgs-text .slider-imgs-text-inner {
    padding-left: 14px;
  }
}

/*********Salon section starts here***********/
.salon-main .salon-inner {
  margin-top: 125px;
  min-height: 325px;
}
.salon-main .salon-inner .salon-inner-img {
  top: -100px;
}
@media (max-width: 767px) {
  .salon-main .salon-inner .salon-inner-img {
    top: -70px;
  }
}
.salon-main .salon-inner .salon-inner-img .leaf {
  bottom: -40px;
  right: -30px;
}
.salon-main .salon-inner .salon-inner-data {
  margin-top: -85px;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .salon-main .salon-inner .salon-inner-data {
    margin-top: -40px;
  }
}

.free-main {
  margin-top: 150px;
}
@media (max-width: 767px) {
  .free-main {
    margin-top: 50px;
  }
}
.free-main .free-img {
  margin-top: -95px;
}
@media (max-width: 767px) {
  .free-main .free-img {
    margin-top: 0;
  }
}

.contact-main .search-input {
  max-width: 100%;
}
.contact-main .contact-right {
  border-left: 1px solid #cfcdcd;
}
@media (max-width: 767px) {
  .contact-main .contact-right {
    border: 0;
  }
}
.contact-main .contact-right .text-data {
  color: #4e5662;
}
.contact-main .contact-right .text-data:hover, .contact-main .contact-right .text-data:focus, .contact-main .contact-right .text-data:active {
  color: #2d3748;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.sidebar {
  transition: 0.3s ease-in-out;
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.0705882353);
  top: 90px !important;
  background-color: #f8f9fa;
}
@media (max-width: 1199px) {
  .sidebar {
    top: 56px !important;
  }
}

/**********Select with search input in table th*********/
table thead tr th:first-child {
  border-top-left-radius: 10px;
}
table thead tr th:last-child {
  border-top-right-radius: 10px;
}
table thead tr th.select-input-th {
  min-width: 200px;
  max-width: 200px;
  width: 200px;
}
table thead tr th.select-dropdown-th {
  min-width: 150px;
  max-width: 150px;
  width: 150px;
}
table thead tr th.select-dropdown-th .custom-dropdown a::after {
  position: absolute;
  left: unset;
  right: 0;
  background-image: url(../Images/icons/arrow-down.svg);
}
table thead tr th .select-input {
  background-color: transparent;
  border: 0 !important;
}
table thead tr th .select-input .btn {
  background-color: transparent;
  border-color: transparent;
  padding-left: 0;
}
table thead tr th .select-input .btn:hover::before,
table thead tr th .select-input .btn:hover::after {
  opacity: 0;
  border: none;
}
table thead tr th .select-input .dropdown-menu.show {
  min-width: 228px;
  max-width: 228px;
  margin-top: 7px !important;
  padding: 0;
}
table thead tr th .bootstrap-select .dropdown-toggle:focus,
table thead tr th .bootstrap-select select.mobile-device:focus + .dropdown-toggle {
  outline: unset !important;
  background-color: transparent;
  border-color: transparent;
}
table thead tr th .bootstrap-select .dropdown-menu li {
  border-bottom: 1px solid #e7e7e7;
  padding: 2px;
}
table thead tr th .bootstrap-select .dropdown-menu li .dropdown-item.active,
table thead tr th .bootstrap-select .dropdown-menu li .dropdown-item:active {
  background-color: transparent;
  padding: 7px 16px;
}
table thead tr th .bootstrap-select .dropdown-menu .bs-searchbox {
  padding: 0;
}
table thead tr th .bootstrap-select .dropdown-menu .bs-searchbox .form-control {
  box-shadow: none !important;
  height: 33px !important;
  border: none !important;
  border-bottom: 1px solid #e7e7e7 !important;
  border-radius: 0px !important;
}

/**********Common scrollbar**************/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f9fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #50cec3;
}

.dropdown .dropdown-menu::before {
  content: unset;
}

/**********Dropdown arrow from background image*************/
.dropdown-toggle {
  background-image: url(../Images/icons/arrow-down.svg);
  background-size: inherit;
  background-repeat: no-repeat;
  width: 100%;
  background-position: right;
  background-color: transparent;
  border-color: transparent;
}
.dropdown-toggle::after {
  content: unset;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item.active, .dropdown-item:focus, .dropdown-item:focus-visible {
  background-color: #f8f9fa;
}

.custom-dropdown .dropdown-menu.show {
  margin-top: 8px !important;
  padding: 0;
}

/**************Testimonial**************************/
.testimonial-main .owl-carousel .owl-stage {
  padding: 0 !important;
}
.testimonial-main .owl-carousel .owl-nav {
  position: absolute;
  top: -115px;
  right: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .testimonial-main .owl-carousel .owl-nav {
    top: -60px;
  }
}
.testimonial-main .owl-carousel .owl-nav button {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  background-color: #50cec3;
  color: #50cec3;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .testimonial-main .owl-carousel .owl-nav button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
  }
}
.testimonial-main .owl-carousel .owl-nav button span {
  opacity: 0;
}
.testimonial-main .owl-carousel .owl-nav button.owl-next, .testimonial-main .owl-carousel .owl-nav button.owl-prev {
  width: 15px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
}
.testimonial-main .owl-carousel .owl-nav button.owl-next:hover, .testimonial-main .owl-carousel .owl-nav button.owl-next:active, .testimonial-main .owl-carousel .owl-nav button.owl-next:focus, .testimonial-main .owl-carousel .owl-nav button.owl-prev:hover, .testimonial-main .owl-carousel .owl-nav button.owl-prev:active, .testimonial-main .owl-carousel .owl-nav button.owl-prev:focus {
  background-color: #50cec3;
}
.testimonial-main .owl-carousel .owl-nav button.owl-next.disabled, .testimonial-main .owl-carousel .owl-nav button.owl-prev.disabled {
  background-color: transparent;
}
.testimonial-main .owl-carousel .owl-nav button.owl-prev {
  background-image: url(../Images/icons/next-arrow.svg);
  transform: rotate(180deg);
}
.testimonial-main .owl-carousel .owl-nav button.owl-next {
  background-image: url(../Images/icons/next-arrow.svg);
}
.testimonial-main .owl-carousel .item .testimonial-box {
  min-height: 365px;
  height: 365px;
  padding: 50px 35px 35px 50px;
}
@media (max-width: 767px) {
  .testimonial-main .owl-carousel .item .testimonial-box {
    min-height: 370px;
    height: auto;
    padding: 20px;
  }
}

/***************Button hover animation**************/
button.navbar-toggler {
  border: solid 1px #e7e7e7;
}

/*********Box shadow for btn********/
.btn-check:checked + .btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
  box-shadow: unset;
  outline: none;
}

.btn:first-child:active {
  background-color: #2d3748;
  color: #ffffff;
}

@media (max-width: 575px) {
  .mobile-btns .btnPrimary,
  .mobile-btns .btnSecondary {
    width: 100%;
    display: block;
  }
}

.slider-content {
  position: relative;
  display: inline;
}
.slider-content:before, .slider-content:after {
  content: url("../Images/icons/slider-start.svg");
  position: absolute;
}
.slider-content:after {
  right: -20px;
}

/**************Border-radius***********/
.br-10 {
  border-radius: 10px !important;
}

.br-top-10 {
  border-radius: 10px 10px 0 0;
}

.br-bottom-10 {
  border-radius: 0 0 10px 10px;
}

.br-30 {
  border-radius: 30px;
}

/*********Dropdodwn common***********/
ul.dropdown-menu {
  overflow: hidden;
  padding: 0;
}
ul.dropdown-menu li {
  border-bottom: 1px solid #e7e7e7;
}
ul.dropdown-menu li:last-child {
  border: 0;
}
ul.dropdown-menu li a {
  padding: 8px 16px;
  font-size: 0.875rem;
}

.btn span {
  position: relative;
  z-index: 9;
  color: #ffffff;
}

.min-width-120 {
  min-width: 120px;
  max-width: 120px;
}

.min-width-80 {
  min-width: 80px;
  max-width: 80px;
}/*# sourceMappingURL=style.css.map */